  * {
    font-family: Komet;
    font-style: italic;
    font-size: 15px;
    color:var(--color-black);
    text-decoration: none;

}
  
  :root{
     --margin-S: 5px;
     --margin-M: 8px;
     --margin-L: 10px;
     --margin-XL: 13px;
     --gap-S: 10px;
     --padding-L: 10px;
     --border-s: 0.1rem solid var(--color-black);
  
     /* für mobile definieren! diese grössen gelten für desktop */
     --font-size-h2: 2.22rem;
    --font-size-h3: 1.39rem;
    --font-size-h4: 1.39rem;
    --font-size-default: 1rem;
    --font-size-small: 0.77rem;
    --font-size-button-L: 1.39rem;
    --font-size-button-S: 1.11rem;
  
     --color-black: #191919;
     --color-orange: #E5B100;
     --color-white: #F4F4F4;
  
  }

h1 {
     font-size: 2.5rem;
     text-align: center;


}

.flex-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: var(--margin-L);
    flex-wrap: wrap;
}
