:root{
  --margin-S: 5px;
  --margin-M: 12px;
  --margin-L: 40px;
  --padding-L: 10px;

  --padding-button: 8px;

  --gap-S: 10px;

  --border-s: 0.1rem solid var(--color-black);

  --font-size-h1: 3.33rem;
  --font-size-h2: 2.22rem;
  --font-size-h3: 1.39rem;
  --font-size-h4: 1.39rem;
  --font-size-default: 1rem;
  --font-size-small: 0.77rem;
  --font-size-button-L: 1.39rem;
  --font-size-button-S: 1.11rem;

  --color-black: #191919;
  --color-orange: #E5B100;
  --color-white: #F4F4F4;

}

h1 {
  /* Komet Black Italic */
  font-family: "komet", sans-serif;
  font-weight: 900;
  font-style: italic;

  font-size: var(--font-size-h1);
}

h2 {
  /* Komet Black Italic */
  font-family: komet, sans-serif;
  font-weight: 900;
  font-style: italic;

  font-size: var(--font-size-h2);
}

* {
  /* Komet Regular */
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-size mobile: 15px, font-size desktop: 18px immer einhalten */
  font-size: 15px;
  color: var(--color-black);
  text-decoration: none;
}

body {
  background-color: var(--color-white);
  margin: 0;
  }

/*header*/
.header {
  margin-top: var(--margin-L);
  margin-bottom: var(--margin-L);

  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link-logo-header {
  max-width: 200px;
  height: auto;
  padding-right: 20px;
}

.logo-header {
  width: 100%;
  margin-left: var(--margin-M);
 
}

#iconwarenkorbheader {
  height: var(--font-size-h3);
  /* Anpassung, damit auf gleicher Höhe wie Schrift */
}


.navigation {
  color: var(--color-white);
  padding-right: 20px;
  text-align: left;
  justify-content: flex-end;
}
ul{
  padding-left: 0px;
}

.nav_inhalt {
  display: flex;
  /* Auflistung horizontal */
  justify-content: flex-end;
  /* Verteilung */
  align-content: center;
  /* Umbruch, wenn zu wenig Platz*/
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  /* Keine Aufführungspunkte*/
  margin: 0px;
  /* Keine Margin für die ganze Leiste*/
  height: 100%;
}

.menupunkt {
  font-family: komet, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: var(--font-size-h3);
  margin-left: 10px;
  color: var(--color-black);
}



.icon-warenkorb-header {
  height: var(--font-size-h3);
  /* Anpassung, damit auf gleicher Höhe wie Schrift */
  padding-top: 5px;
}

.hover-warenkorb-header img:nth-child(2){
  display: none ;
}

.hover-warenkorb-header:hover img:nth-child(1){
  display: none;
}

.hover-warenkorb-header:hover img:nth-child(2) {
  display: block;
}
.menupunkt:hover { 
  color: var(--color-orange);
}

.menupunkt-aktiv {
  color: var(--color-orange);
}






/*Main*/

h1 {
  /* Komet Black Italic */
  font-family: "komet", sans-serif;
  font-weight: 900;
  font-style: italic;

  font-size: var(--font-size-h1);
}

h2 {
  /* Komet Black Italic */
  font-family: komet, sans-serif;
  font-weight: 900;
  font-style: italic;

  font-size: var(--font-size-h2);
}

.content {
  margin-right: var(--margin-M);
  margin-left: var(--margin-M);
  margin-bottom: var(--margin-M);
}

.flex-container {
 
  display: flex;
  flex-direction: column;
  gap: var(--gap-S);
  
}




/*Footoer*/

.footer {
  background-color: var(--color-black);
  margin: 0;
  padding: 20px;
  margin-top: auto;

}

.link-logo-footer {
  max-width: 70px;
  height: auto;
}


.logo-footer {
  width: 100%;
  align-self: flex-start;
}

.shop-warenkorb {
  color: var(--color-orange);
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  margin: 0px;
  height: 100%;
}


.footer-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

#iconwarenkorbheader {
  height: 23px;
}

.navigation-footer {
  color: var(--color-white);
  padding-top: 0;
  text-align: left;
  flex: 1 0 auto;
}

.menupunkt-footer {
  font-family: komet, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: var(--font-size-h3);

  color: var(--color-white);
  justify-content: center;
}

.warenkorb-footer {
  height: var(--font-size-h3);
  padding-top: 5px;

}
.hover-warenkorb-footer img:nth-child(2){
  display: none ;
}

.hover-warenkorb-footer:hover img:nth-child(1){
  display: none;
}

.hover-warenkorb-footer:hover img:nth-child(2) {
  display: block;
}

.menupunkt-footer:hover { 
  color: var(--color-orange);
}

.menupunkt-aktiv-footer{
  color: var(--color-orange);
}

.menu-footer {
  display: flex;
  justify-content: left;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 100%;
}

hr {
  width: auto;
  height: 0.5 px;
  background-color: var(--color-white);
}

.adresse-footer {
  color: var(--color-white);
  padding-top: 0;
  font-size: var(--font-size-small);
  text-decoration: none;
}
