:root {

--color-main-bg: rgb(239, 235, 235);
--color-main-font: black;
--margin-XL: 16px;

}

* {
    font-family: Komet;
    font-style: italic;
    font-size: 1.125rem;
    color: #191919;

    text-decoration: none;

}


h1 {
   font-style: bold;
   font-size: 3.75rem;
   text-align:left;

}



.flex-container {

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 20px;
        flex-wrap: wrap;
}

.flex-container > section {


            margin: 5px 0;

}

@media screen and (max-width: 768px) {

h1 {
     font-size: 2.5rem;
     text-align: center;


}

.flex-container {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    flex-wrap: wrap;
}






}
