@media screen and (min-width:  810px){

    
h1 {
    font-style: bold;
    font-size: 3.75rem;
    text-align:left;
 
 }
 
 
 
 .flex-container {
 
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         margin-left: 20px;
         flex-wrap: wrap;
 }

 .begrenzung-header {
  max-width: 1440px;
  margin: 0 auto;
}

.link-logo-header {
  max-width: 600px;
  height: auto;

}

.nav_inhalt {
  gap: 20px;
}

.link-logo-header {
  max-width: 200px;
}

.menupunkt {
  font-size: var(--font-size-h2);
}


/*Footoer*/

.begrenzung-footer {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.link-logo-footer {
  max-width: 120px;
  height: auto;
}

.menupunkt-footer {
  font-size: var(--font-size-h2);
}

.footer-shop {
  padding-bottom: 120px;
}

.menu-footer {
  gap: 50px;
}


}