:root {

    --color-main-bg: rgb(239, 235, 235);
    --color-main-font: black;
    --margin-XL: 16px;

}

* {
    font-family: Komet;
    font-style: italic;
    font-size: 1.125rem;
    color: #191919;

    text-decoration: none;

}

h1 {
    
    font-style: bold;
    font-size: 3.75rem;
    text-align:left;
}

body {

     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;

}

.container {

        width: 400px;
        padding: 20px;
        border-radius: 8px
        
}

.form-group {
        margin-bottom: 15px;
       

}

label {

    display: block;
    margin-bottom: 5px;
    font-weight: bold;


}

input [type="text"]
input [type="email"]
textarea {

    width: calc (100% - 16px);
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px;
    box-sizing: border-box;
}



button {

    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #E5B100;
    cursor: pointer;
    font-weight: bold;
    
}

.kontakt form {
        display: flex;
        flex-direction: column;

}


.form-group-checkbox {

        display: flex;
        align-items: center;
        margin-bottom: 10px;

}

#newsletterCheckbox {

        margin-right: 10px;

}

label [for="newsletterCheckbox"] {
        font-size: 14px;

    }




@media (min-width: 576px) {

    .container {
        width: 80%;

    }
}


@media (min-width: 768px)

{

    .container {
        width: 70%;

    }

}

@media (min-width: 992px) {

    .container {
        width: 60%;

    }

}

@media (min-width: 1200px) {

    .container {

        width: 50%;


    }



}


