:root{
    --margin-S: 5px;
    --margin-M: 12px;
    --margin-L: 40px;
    --padding-L: 10px;
    
    --padding-button: 15px;
    
    --gap-S: 10px;
    
    --border-s: 0.1rem solid var(--color-black);
    
    --font-size-h1: 3.33rem;
    --font-size-h2: 2.22rem;
    --font-size-h3: 1.39rem;
    --font-size-h4: 1.39rem;
    --font-size-default: 1rem;
    --font-size-small: 0.77rem;
    --font-size-button-L: 1.39rem;
    --font-size-button-S: 1.11rem;
    
    --color-black: #191919;
    --color-orange: #E5B100;
    --color-white: #F4F4F4;
    
    }

* {
    font-family: Komet;
    font-style: italic;
    font-size: 1.125rem;
    color: #191919;

    text-decoration: none;

}

/*header*/
.header {
  margin-top: var(--margin-L);
  margin-bottom: var(--margin-L);
}

.link-logo-header {
  max-width: 150px;
  height: auto;
}

.logo-header {
  width: 100%;
}

#iconwarenkorbheader {
  height: var(--font-size-h3);
  /* Anpassung, damit auf gleicher Höhe wie Schrift */
  padding-top: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation {
  color: var(--color-white);
  padding: 20px;
  padding-top: 0;
  text-align: left;

  flex: 1 0 auto;
  justify-content: flex-end;
}

.nav_inhalt {
  display: flex;
  /* Auflistung horizontal */
  justify-content: flex-end;
  /* Verteilung */
  align-content: center;
  /* Umbruch, wenn zu wenig Platz*/
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  /* Keine Aufführungspunkte*/
  padding: 0px;
  /* Kein Padding für die ganze Leiste*/
  margin: 0px;
  /* Keine Margin für die ganze Leiste*/
  height: 100%;
}

.menupunkt {
  font-family: komet, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: var(--font-size-h3);
  margin-left: 10px;
  color: var(--color-black);
}

.menupunkt-shop {
  color: var(--color-orange);
}

h1 {
    
    font-style: bold;
    font-size: 3.75rem;
    text-align:left;
}

body {

     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;

}

.container {

        width: 400px;
        padding: 20px;
        border-radius: 8px
        
}

.form-group {
        margin-bottom: 15px;
       

}

label {

    display: block;
    margin-bottom: 5px;
    font-weight: bold;


}

input [type="text"]
input [type="email"]
textarea {

    width: calc (100% - 16px);
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px;
    box-sizing: border-box;
}



button {

    width: 40%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #E5B100;
    cursor: pointer;
    font-weight: bold;
    
}

.kontakt form {
        display: flex;
        flex-direction: column;

}


.form-group-checkbox {

        display: flex;
        align-items: center;
        margin-bottom: 10px;

}

#newsletterCheckbox {

        margin-right: 10px;

}

label [for="newsletterCheckbox"] {
        font-size: 14px;

    }




@media (min-width: 576px) {

    .container {
        width: 80%;

    }
}


@media (min-width: 768px)

{

    .container {
        width: 70%;

    }

}

@media (min-width: 992px) {

    .container {
        width: 60%;

    }

}

@media (min-width: 1200px) {

    .container {

        width: 50%;


    }
}

/*Footer*/

.footer {
    background-color: var(--color-black);
    margin: 0;
    padding: 20px;
  
  }
  
  .link-logo-footer {
    max-width: 70px;
    height: auto;
  }
  
  
  .logo-footer {
    width: 100%;
    align-self: flex-start;
  }
  
  .shop-warenkorb {
    color: var(--color-orange);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    margin: 0px;
    height: 100%;
  }
  
  
  .footer-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
  }
  
  #iconwarenkorbheader {
    height: 23px;
  }
  
  .navigation-footer {
    color: var(--color-white);
    padding-top: 0;
    text-align: left;
    flex: 1 0 auto;
  }
  
  .menupunkt-footer {
    font-family: komet, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: var(--font-size-h3);
  
    color: var(--color-white);
    justify-content: center;
  }
  
  .menupunkt-footer-shop {
    color: var(--color-orange);
  }
  
  .menu-footer {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
  }
  
  hr {
    width: auto;
    height: 0.5 px;
    background-color: var(--color-white);
  }
  
  .adresse-footer {
    color: var(--color-white);
    padding-top: 0;
    font-size: var(--font-size-small);
    text-decoration: none;
  }
  





