@media screen and (min-width:  810px){

    :root{
        --margin-S: 10px;
        

        /* gemäss Figma */
        --margin-M: 25px;
        --margin-L: 80px;
        --padding-L: 80px;

        /* gemäss CD/CI */
        --padding-button: 30px;
        
        /* gemäss Figma 19px (aufgerundet auf 20px)*/
        --gap-S: 20px;

        --border-s: 0.2rem solid var(--color-black);

        --font-size-h1: 3.33rem;
        --font-size-h2: 2.22rem;
        --font-size-h3: 1.39rem;
        --font-size-h4: 1.39rem;
        --font-size-default: 1rem;
        --font-size-small: 0.77rem;
        --font-size-button-L: 1.39rem;
        --font-size-button-S: 1.11rem;
     
        --color-black: #191919;
        --color-orange: #E5B100;
        --color-white: #F4F4F4;
     
    }

    * {
      font-size: 18px;
    }
    

    /* .headerbild */
    
    .headerlogo {
      height: 25%;
    }
    
    /* nav */
    
    /* .nav_links  */
    
    
    /* .menupunkt  */
    
    /* #iconwarenkorbheader  */
    
    .teaser-shop {
      margin: var(--margin-L);
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .teaser-shop-artikel {
      flex: 0 0 30%;
    }
    
    
    /* .titelpreis */
    
    /* .artikelbeschreibung  */
      
    /* .teaser-shop-artikel-bild  */
    
    /* .iconwarenkorbshopteaser  */
    
    .teaser-gross {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    
    /* .teaser-gross-textbox  */
    
    /* .teaser-gross img  */
    
    /* .buttongross  */
    
    .usp {
      flex-direction: row;
      justify-content: center;
      margin: var(--margin-L);
    }
    
    .usp p {
      margin: var(--margin-M);
    }
    
    .social-wall {
      margin: var(--margin-L);
    }
    
    /* .h2-aufweiss  */
    
    /* .buttongross-center-container  */
    
    /* .buttongross-center  */
    
    .testimonial-block-mit-titel {
        margin: var(--margin-L);
    }
      
    /* .testimonial-block-mit-titel h2 */
      
    .testimonial-block {
        flex-direction: row;
    }
      
    /* .testimonial  */
      
    /* .sterne-bestellnummer  */
      
    /* .sterne  */
      
    /* .bestellnummer p */
      
    /* .testimonial-text */
      
    
    
 
   
     
 
 }