* {
    font-family: Komet;
    font-style: italic;
    font-size: 18px;
    color: #F4F4F4;
  
    text-decoration: none;
  }

body{
background-color: white;
color: black;

}

header{
    background-color: black;
    color: white;
    padding: 20 px;
    text-align: center;
    height: 70px;
    
}

nav {
    height: 100%;
}

.nav_links {
    display: flex;
    /* Auflistung horizontal */
    justify-content: flex-end;
    /* Verteilung */
    align-content: center;
    flex-wrap: wrap;
    /* Umbruch, wenn zu wenig Platz*/
    list-style: none;
    /* Keine Aufführungspunkte*/
    padding: 0;
    /* Kein Padding für die ganze Leiste*/
    margin: 0px;
    /* Keine Margin für die ganze Leiste*/
    height: 100%;
  }

  .menüpunkt {
    margin-left: 80px;
  }


  .teaser-shop {
    display: flex;
    position: center;
    margin: 40px;
  }

  .teaser-shop-artikel {
    width: 33%;
  }
  
  .teaser-shop-artikel-bild {
    object-fit: cover;
  /*füllt den Rahmen ohne das Seitenverhältnis zu verändern*/
  }

