/* 1.	Am Anfang jeder css-datei immer den gleichen Root setzen mit wichtigsten Farben, Schriftgrössen und Abstände (Margin-S, Margin-M, Margin-L, Margin-XL). Dann verwendet man im CSS unterhalb immer nur den Variablennamen: https://wiki.selfhtml.org/wiki/CSS/Custom_properties_(CSS-Variablen) 
 müssen wir gemeinsam noch definieren
2.	Für Schriftgrössen und Icons immer Grösseneinheit «rem» verwenden.
3.	Margin/Padding immer Grösseneinheit «px» verwenden
4.	Wir arbeiten mobile-first  html und CSS ist grundsätzlich für Mobile ausgelegt, via media queries machen wir schritt für schritt anpassungen für desktop.
*/
:root{
    --margin-S: 10px;
    

    /* gemäss Figma */
    --margin-M: 25px;
    --margin-L: 80px;
    --padding-L: 80px;
    --column-width: 415px;
    --padding-button: 8px;

    /* gemäss CD/CI */
    --padding-button: 30px;
    
    /* gemäss Figma 19px (aufgerundet auf 20px)*/
    --gap-S: 20px;

    --border-s: 0.2rem solid var(--color-black);

    --font-size-h1: 3.33rem;
    --font-size-h2: 2.22rem;
    --font-size-h3: 1.39rem;
    --font-size-h4: 1.39rem;
    --font-size-default: 1rem;
    --font-size-small: 0.77rem;
    --font-size-button-L: 1.39rem;
    --font-size-button-S: 1.11rem;
 
    --color-black: #191919;
    --color-orange: #E5B100;
    --color-white: #F4F4F4;
 
}

* {
    font-family: Komet;
    font-size: 15px;
    text-decoration: none;

}



* {
    /* Komet Regular */
    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* font-size mobile: 15px, font-size desktop: 18px immer einhalten */
    font-size: 15px;
    text-decoration: none;
}

h1 {
    /* Komet Black Italic */
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: italic;

    font-size: var(--font-size-h1);
}

h2 {
    /* Komet Black Italic */
    font-family: komet, sans-serif;
    font-weight: 900;
    font-style: italic;

    font-size: var(--font-size-h2);
}

h3 {
    /* Komet Black Italic */
    font-family: komet, sans-serif;
    font-weight: 900;
    font-style: italic;

    font-size: var(--font-size-h3);
}

h4 {
    /* Komet Medium */
    font-family: komet, sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: var(--font-size-h4);
}

/*header*/
.header {
    margin-top: var(--margin-L);
    margin-bottom: var(--margin-L);
}

.link-logo-header {
    max-width: 150px;
    height: auto;
}

.logo-header {
    width: 100%;
    margin-left: var(--margin-M);
}

.icon-warenkorb-header {
    height: var(--font-size-h3);
    /* Anpassung, damit auf gleicher Höhe wie Schrift */
    padding-top: 12px;
  }

 .hover-warenkorb-header img:nth-child(2){
    display: none ;
 }

.hover-warenkorb-header:hover img:nth-child(1){
    display: none;
}

.hover-warenkorb-header:hover img:nth-child(2) {
    display: block;
 }

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation {
    color: var(--color-white);
    padding: 20px;
    padding-top: 0;
    text-align: left;

    flex: 1 0 auto;
    justify-content: flex-end;
}

.nav_inhalt {
    display: flex;
    /* Auflistung horizontal */
    justify-content: flex-end;
    /* Verteilung */
    align-content: center;
    /* Umbruch, wenn zu wenig Platz*/
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    /* Keine Aufführungspunkte*/
    padding: 0px;
    /* Kein Padding für die ganze Leiste*/
    margin: 0px;
    /* Keine Margin für die ganze Leiste*/
    height: 100%;
}

.menupunkt {
    font-family: komet, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: var(--font-size-h2);
    margin-left: 10px;
    color: var(--color-black);
}

.menupunkt:hover { 
    color: var(--color-orange);
}


.menupunkt-aktiv {
    color: var(--color-orange);
}




body {
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0px;
    
}

.vorstellung {
    display: flex;
    flex-direction: column;
    gap: var(--gap-S);
}


.intro {
    width: 100;
}

.portrait {
    width: 100%;
    object-fit: fill;
}

.person {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100;
}

.gelb-h2 {
    color: var(--color-orange);
}

.person-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}




/*ab hier kopieren für Footer*/



.footer {
    background-color: var(--color-black);
    margin: 0;
    padding: 20px;

}

.link-logo-footer {
    max-width: 70px;
    height: auto;
}


.logo-footer {
    width: 100%;
    align-self: flex-start;
}

.shop-warenkorb {
    color: var(--color-orange);
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
    margin: 0px;
    padding-top: 5px;
    height: 100%;
}


.footer-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.navigation-footer {
    color: var(--color-white);
    padding-top: 0;
    text-align: left;
    flex: 1 0 auto;
}

.menupunkt-footer {
    font-family: komet, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: var(--font-size-h3);

    color: var(--color-white);
    justify-content: center;
}
.warenkorb-footer {
    height: var(--font-size-h3);
    padding-top: 12px;

}
.hover-warenkorb-footer img:nth-child(2){
    display: none ;
}

.hover-warenkorb-footer:hover img:nth-child(1){
    display: none;
}

.hover-warenkorb-footer:hover img:nth-child(2) {
    display: block;
  }



.menupunkt-footer:hover { 
    color: var(--color-orange);
}

.menupunkt-aktiv-footer{
    color: var(--color-orange);
}

.menu-footer {
    display: flex;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

hr {
    width: auto;
    height: 0.5 px;
    background-color: var(--color-white);
}

.adresse-footer {
    color: var(--color-white);
    padding-top: 0;
    font-size: var(--font-size-small);
    text-decoration: none;
}