/* 1.	Am Anfang jeder css-datei immer den gleichen Root setzen mit wichtigsten Farben, Schriftgrössen und Abstände (Margin-S, Margin-M, Margin-L, Margin-XL). Dann verwendet man im CSS unterhalb immer nur den Variablennamen: https://wiki.selfhtml.org/wiki/CSS/Custom_properties_(CSS-Variablen) 
 müssen wir gemeinsam noch definieren
2.	Für Schriftgrössen und Icons immer Grösseneinheit «rem» verwenden.
3.	Margin/Padding immer Grösseneinheit «px» verwenden
4.	Wir arbeiten mobile-first  html und CSS ist grundsätzlich für Mobile ausgelegt, via media queries machen wir schritt für schritt anpassungen für desktop.
*/


:root{
    --color-main-bg: rgb(239, 235, 235);
    --color-main-font: black;
    --font-size-basis: 16px
}

* {
    font-family: Komet;
    font-style: italic;
    font-size: 1.125rem;
  
    text-decoration: none;
  }

h1{
    font-style: bold;
    font-size: 3.75rem;
}

h2 {
  font-style: bold;
  font-size: 2.5rem;
}

h3{
    font-style: bold;
    font-size:1.5625rem;
}

h4{
    font-style: medium;
    font-size:1.5625rem;
}

h5{
    font-style: small;
    font-size: 1.125;
}

h6{
    font-style: small;
    font-size: 0.875rem;
}

body{
    background-color: var(--color-main-bg);
    color: black;
    margin: 80px;
    }

.vorstellung {

    
    
}

