/* 1.	Am Anfang jeder css-datei immer den gleichen Root setzen mit wichtigsten Farben, Schriftgrössen und Abstände (Margin-S, Margin-M, Margin-L, Margin-XL). Dann verwendet man im CSS unterhalb immer nur den Variablennamen: https://wiki.selfhtml.org/wiki/CSS/Custom_properties_(CSS-Variablen) 
 müssen wir gemeinsam noch definieren
2.	Für Schriftgrössen und Icons immer Grösseneinheit «rem» verwenden.
3.	Margin/Padding immer Grösseneinheit «px» verwenden
4.	Wir arbeiten mobile-first  html und CSS ist grundsätzlich für Mobile ausgelegt, via media queries machen wir schritt für schritt anpassungen für desktop.
*/


:root {
    --color-main-bg: #F2F2F2;
    --color-schwarz: #191919;
    --color-gelb: #E5B100;
    --color-weiss-auf-schwarz: rgb(255, 255, 255);
    --font-size-basis: 16px
}

* {
    font-family: Komet;
    font-style: italic;
    font-size: 1.125rem;

    text-decoration: none;
}

h1 {
    font-style: bold;
    font-size: 3.75rem;
}

h2 {
    font-style: bold;
    font-size: 2.5rem;
}

h3 {
    font-style: bold;
    font-size: 1.5625rem;
}

h4 {
    font-style: medium;
    font-size: 1.5625rem;
}

h5 {
    font-style: small;
    font-size: 1.125;
}

h6 {
    font-style: small;
    font-size: 0.875rem;
}

.logo {
    width: 90%;
}

#iconwarenkorbheader {
    height: 1rem;
}

.header {
    display: flex;
}

.navigation {
    color: var(--color-weiss-auf-schwarz);
    padding: 20px;
    padding-top: 0;
    text-align: left;

    flex: 1 0 auto;
}

.nav_inhalt {
    display: flex;
    /* Auflistung horizontal */
    justify-content: flex-end;
    /* Verteilung */
    align-content: center;
    /* Umbruch, wenn zu wenig Platz*/
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    /* Keine Aufführungspunkte*/
    padding: 0px;
    /* Kein Padding für die ganze Leiste*/
    margin: 0px;
    /* Keine Margin für die ganze Leiste*/
    height: 100%;
}

.menüpunkt {
    margin-left: 10px;
    color: var(--color-schwarz);
}

body {
    background-color: var(--color-main-bg);
    color: black;
    margin: 20px;

}

.vorstellung {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.intro {
    width: 100;
}

.portrait {
    width: 100%;
    object-fit: fill;
}


.person {
    background-color: var(--color-schwarz);
    color: var(--color-weiss-auf-schwarz);
    width: 100;
}

.gelb-h2 {
    color: var(--color-gelb);
}

.person-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}